
img{
  width:20px;
}

input{
  background-color:whitesmoke;
  border: none;
  color:white;
  font-size: 15px;
  outline: none;
}

.search{
  display: flex;
  /* flex-direction: row-reverse; */
  background-color: whitesmoke;
  border-radius: 25px;
  padding:20px;
  /* border: blue solid; */
  width:17%;
  height: 17%;
}

/* body {
  height: 100vh;
  max-height: 100vh;
} */


.App {
  display: flex;
}


/* NAVBAR CSS */

.mainlogo {
  max-width: 35px;
  padding-right: 35px;
  padding-top: 35px;
  padding-left: 35px;
}

.navContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
  width: 350px;
  margin-left: 175px;
  border-right: 2px solid black;
}

.atag-navbar {
  padding-top: 2%;
}

.tweetBtn {
  text-align: center;
  max-width: 220px;
  margin-top: 35px;
  margin-left: 20px;
  padding: 17px;
  border-radius: 2%;
  color: white;
  background-color: #2291DA;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
}

/* MAIN CSS */

.mainContainer {
  display: flex;
  flex-direction: column;
  background-color: grey;
  height: 100vh;
  width: 750px;
  border-right: 2px solid black;
}

.trends-container{
  background-color: whitesmoke;
  font-family: 'Anton', sans-serif;
  display: flex;
  height: 62vh;
  border-radius: 25px;
  align-items: center;
  flex-direction: column;
  padding: 5px;
}

.trends-top{
  display: flex;
  align-items: center;
  width: 98%;
  justify-content: space-between;
  border-bottom: solid rgb(222, 226, 230);
}

.trends-holder{
  align-self: stretch;
  border-bottom: solid rgb(222, 226, 230);
}

.trends-title{
  color: gray;
  font-size: 15px;
}

.trends-hashtag{
  font-weight: 900;
}

.trends-amount{
  color: gray;
  font-weight: 500;
}

.show-more-container{
  height: 100px;
  width: 400px;
}

.show-more{
  color: blue;
}