/* SEARCH BAR CSS */

.magnifyImg{
  width:20px;
  margin-right: 15px;
}

/* .magnify-holder {
  padding: 10px;
  margin-left: 35px;
  margin-top: 15px;
} */

.searchInput{
  background-color:whitesmoke;
  border: none;
  color:white;
  font-size: 15px;
  outline: none;
}

.search{
  display: flex;
  /* flex-direction: row-reverse; */
  background-color: whitesmoke;
  border-radius: 25px;
  padding: 10px;
  margin-left: 35px;
  margin-top: 15px;
  /* border: blue solid; */
  /* width:30%; */
  height: 17%;
}

/* body {
  height: 100vh;
  max-height: 100vh;
} */

.AppSearch {
  display: flex;
}


.App {
  display: flex;
  border-top: 0.5px solid lightgray;
}


/* NAVBAR CSS */

.mainlogo {
  max-width: 35px;
  padding-right: 35px;
  padding-top: 35px;
  padding-left: 35px;
}

.navContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
  width: 350px;
  margin-left: 175px;
  border-right: 0.5px solid lightgray;
}

.atag-navbar {
  padding-top: 2%;
}

.tweetBtn {
  text-align: center;
  max-width: 220px;
  margin-top: 35px;
  margin-left: 20px;
  padding: 17px;
  border-radius: 2%;
  color: white;
  background-color: #2291DA;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
}

/* MAIN CSS */

.mainContainer {
  display: flex;
  flex-direction: column;
  /* background-color: grey; */
  height: 100vh;
  width: 750px;
  border-right: 0.5px solid lightgray;
}

/* HOMEBAR CSS */

.starLogo{
  /* width: 60%; */
  /* height: 4vh; */
  width: 70%;
  padding-top: 5px;
}

.homebar{
  display: flex;
  flex-direction: row;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(207, 199, 199);
  /* min-width: 300px; */
  /* max-width: 680px; */
  /* margin: 0 auto; */
}

.homebar{
  font-weight: 950;
  width: 100%;
  margin-left: 15px;
  font-size: 19px;
  margin: 0 auto;
}

.home{
  font-weight: 850;
  /* width: 470px; */
  margin-left: 10px;
  margin-right: 250px;
  font-size: 20px;
}

.homebarContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 100vw;
  background-color: white;
  border-bottom: 0.5px solid lightgray;
  border-right: 0.5px solid lightgray;
}

/* POST CSS */

.likeImg {
  width: 3%;
  height: 3%;
  /* padding: 0; */
  margin-top: 15px;
  margin-left: 40px;
  margin-right: 15px;
}

.likeUser {
  /* padding: 0; */
  margin-top: 17px;
  margin-left: 15px;
  max-width: 100vw;
}

.likeContainer {
  display: flex;
  flex-direction: row;
  max-width: 100vw;
}

.profileImg {
  border-radius: 100%;
  margin-left: 15px;
}

.textpostFlexWrapper {
  display: flex;
  max-width: 100vw;
}

.flexUser {
  display: flex;
  max-width: 100vw;
}

.htagMargin {
  margin-top: 0;
  margin-left: 15px;
  margin-bottom: 10px;
}

.postContent {
  margin-left: 15px;
  margin-top: 0px;
  max-width: 100vw;
}

.tweetlogo {
  height: 25px;
  /* max-width: 25px; */
  /* padding-right: 35px; */
  /* padding-top: 35px; */
  /* padding-left: 35px; */
}

.tweetImageFlexWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 570px;
}

.widthContainter {
  display: flex;
  flex-direction: row;
  max-width: 100vw;
  /* align-items: center; */
  justify-content: space-between;
}

/* .whotofollowcontainer{
  border-width: 1px;
  border-style: solid;
  border-color: lightgrey;
  margin-top: 300px;
  background-color: rgb(236, 233, 233);
  width: 350px;
}

.profile1{
  border-top-style: solid;
  border-top-width: 1px;
  border-color: lightgrey;
}

.profile2{
  border-top-style: solid;
  border-top-width: 1px;
  border-color: lightgrey;
}

.profile3{
  border-top-style: solid;
  border-top-width: 1px;
  border-color: lightgrey;
}

.follow{
  font-weight: 900;
  font-size: 20px;
}



.cnprofile{
  font-weight: 900;
  font-size: 17px;
}

.mcrdigital{
  font-weight: 900;
  font-size: 17px;
}

.trafford{
  font-weight: 900;
  font-size: 17px;
} */

.verifiedIcon {
  width: 90%;
  margin-top: 40px
}

.verifiedDiv {
  max-width: 20px;
}

.whotofollow-top {
  background-color: #F5F8FA;
  margin-left: 35px;
  margin-top: 35px;
  padding: 1px;
  border-bottom: 0.5px solid lightgray;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.whotofollow-bottom {
  background-color: #F5F8FA;
  margin-left: 35px;
  margin-bottom: 35px;
  padding: 15px;
  border-top: 0.5px solid lightgray;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.follow{
  font-weight: 900;
  font-size: 20px;
  margin-left: 35px;
}

.showMore {
  font-weight: 500;
  font-size: 18px;
  margin-left: 20px;
}

.followFlexContainer {
  display: flex;
  background-color: #F5F8FA;
  margin-left: 35px;
}

.followFlexWrapper {
  display: flex;
  flex-direction: column;
}

.followFlexUser {
  display: flex;
}

.htagFollowSection {
  width: 180px;
  margin-left: 15px;
  margin-top: 35px;
}

.htagFollowSectionUser {
  width: 180px;
  margin-left: 15px;
  margin-top: 0px;
  font-weight: 100;
  font-size: 18px;
}

.profileImgFollowSection {
  border-radius: 100%;
  margin-left: 15px;
  margin-top: 30px;
}

.followUserDiv {
  margin-top: 50px;
}

.followUserBtn {
  margin-right: 20px;
  margin-left: 25px;
  font-weight: 70;
  font-size: 20px;
  border: solid 1px #27A1F2;
  color: #27A1F2;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  /* padding: 17px; */
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 35px;
  padding-right: 35px;
  width: 200px;
}