/* SEARCH BAR CSS */

.magnifyImg{
  width:20px;
  margin-right: 15px;
}

.searchInput{
  background-color:whitesmoke;
  border: none;
  color:white;
  font-size: 15px;
  outline: none;
}

.search{
  display: flex;
  /* flex-direction: row-reverse; */
  background-color: whitesmoke;
  border-radius: 25px;
  padding: 10px;
  margin-left: 35px;
  margin-top: 15px;
  /* border: blue solid; */
  width:30%;
  height: 17%;
}

/* body {
  height: 100vh;
  max-height: 100vh;
} */


.App {
  display: flex;
  border-top: 0.5px solid lightgray;
}


/* NAVBAR CSS */

.mainlogo {
  max-width: 35px;
  padding-right: 35px;
  padding-top: 35px;
  padding-left: 35px;
}

.navContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
  width: 350px;
  margin-left: 175px;
  border-right: 0.5px solid lightgray;
}

.atag-navbar {
  padding-top: 2%;
}

.tweetBtn {
  text-align: center;
  max-width: 220px;
  margin-top: 35px;
  margin-left: 20px;
  padding: 17px;
  border-radius: 2%;
  color: white;
  background-color: #2291DA;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
}

/* MAIN CSS */

.mainContainer {
  display: flex;
  flex-direction: column;
  background-color: grey;
  height: 100vh;
  width: 750px;
  border-right: 0.5px solid lightgray;
}
